In [32]:
import pandas as pd
import numpy as np

In [33]:
trace = pd.read_csv('tempTrace.csv', header = None)

In [34]:
trace.head()

        0               1          2  3
0  Source  Initialization   0.000000  0
1  Packet      PktArrival   5.375306  0
2  Source         Arrival   5.375306  1
3  Source         PktCopy  25.552211  1
4  Packet  SRPktFirstCopy  25.552211  1

In [35]:
packet_arrivals = trace[(trace[0] == "Source") & (trace[1] == "Arrival")]
packet_arrivals = packet_arrivals[[2,3]]
packet_arrivals = packet_arrivals.groupby([3]).max()
packet_arrivals.columns = ["ArrivalTimes"]
packet_firstcopy = trace[(trace[0] == "Packet") & (trace[1] == "SRPktFirstCopy")]
packet_firstcopy = packet_firstcopy[[2, 3]]
packet_firstcopy = packet_firstcopy.groupby([3]).max()
packet_firstcopy.columns = ["FirstCopyTimes"]
# packet_lastcopy = trace[(trace[0] == "Packet") & (trace[1] == "SRPktLastCopy")]
packet_lastcopy = trace[(trace[0] == "Packet") & (trace[1] == "SRPktCopy")]
packet_lastcopy = packet_lastcopy[[2, 3]]
packet_lastcopy = packet_lastcopy.groupby([3]).max()
packet_lastcopy.columns = ["LastCopyTimes"]
packet_delivery = trace[(trace[0] == "Packet") & (trace[1] == "RDPktCopy")]
packet_delivery = packet_delivery[[2, 3]]
packet_delivery = packet_delivery.groupby([3]).min()
packet_delivery.columns = ["DeliveryTimes"]
packet = packet_arrivals.join([packet_firstcopy, packet_lastcopy, packet_delivery], how = "inner")

In [36]:
packet_arrivals.diff().mean()

ArrivalTimes    48.683945
dtype: float64

In [37]:
packet_lastcopy

      LastCopyTimes
3
1         25.552211
2         35.137502
3        101.386551
4        180.401592
5        208.842281
...             ...
2050   99839.263725
2051   99900.185895
2052   99907.760081
2053   99951.850951
2054   99976.114252

[2054 rows x 1 columns]

In [38]:
packet

      ArrivalTimes  FirstCopyTimes  LastCopyTimes  DeliveryTimes
3
1         5.375306       25.552211      25.552211      25.963464
2        32.401436       35.137502      35.137502      36.403473
3        77.355600      101.386551     101.386551     111.577708
4       171.842507      180.401592     180.401592     186.770855
5       193.446739      208.842281     208.842281     210.535476
...            ...             ...            ...            ...
2050  99827.822594    99839.263725   99839.263725   99846.894677
2051  99893.021022    99900.185895   99900.185895   99905.675203
2052  99897.300188    99907.760081   99907.760081   99911.891718
2053  99949.321245    99951.850951   99951.850951   99963.402319
2054  99953.515011    99976.114252   99976.114252   99978.251260

[2054 rows x 4 columns]